
.contact {
  background: #f7f7f7;
  padding: 60px 20px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.modal-content {
  border-radius: 14px;
}

.modal-header,
.modal-footer {
  border: none;
}

.form-control {
  border-radius: 8px;
}


/* CONTACT INFO */
.contact-info {
  flex: 1;
  min-width: 250px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.contact-info h2 {
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 12px;
  color: #555;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .contact-container {
    flex-direction: column;
  }
}
