 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Roboto ,Arial;
}

.section {
    padding: 80px 10%;
}

.center {
    text-align: center;
}

/* HERO */
.products-hero {
    height: 60vh;
    background: url("images/products.webp")
        center/cover no-repeat;
    position: relative;
}

.products-hero .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

/* FILTER BUTTONS */
.filter-buttons {
    text-align: center;
    margin: 30px 0;
}

.filter-buttons button {
    padding: 10px 20px;
    border: none;
    margin: 5px;
    cursor: pointer;
    background: #ddd;
    border-radius: 20px;
}

.filter-buttons .active {
    background: #2ecc71;
    color: white;
}

/* PRODUCTS GRID */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.product-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
