 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto , Arial;
    font-weight: 500;
}
.hero {
    height: 100vh;
    background: url("images/main\ flover.webp")
        center/cover no-repeat;
    position: relative;
}

/* Dark overlay for readability */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

/* Hero content */
.hero-content {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Navbar above overlay */
.navbar {
    z-index: 2;
}
.hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    
}

.hero-content h1 {
    font-size: 48px;
}

.hero-content p {
    margin: 15px 0;
    font-size: 18px;
}


.card {
    border: none;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0,0,0,0.6);
    border-radius: 50%;
    padding: 20px;
}
.footer {
    background: #1e1e1e;
    color: #ddd;
    padding: 60px 10% 20px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.footer-section a {
    color: green;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

/* Footer Bottom */
.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #444;
    padding-top: 15px;
    font-size: 14px;
}

/* Mobile Accordion */
@media (max-width: 768px) {
    .footer-section p {
        display: none;
    }

    .footer-section.active p {
        display: block;
    }
}

