 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto , Arial;
    font-weight: 500;
}
.navbar {
    z-index: 2;
}
body {
    font-family: Arial, sans-serif;
}

.section {
    padding: 70px 10%;
}

.light-bg {
    background: #f5f5f5;
}

.center {
    text-align: center;
}

/* HERO */
.about-hero {
    height: 60vh;
    background: url("images/market.jpeg")
        center/cover no-repeat;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

/* ABOUT */
.about-container {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

.about-image img {
    width: 100%;
    border-radius: 15px;
}

.about-image,
.about-content {
    flex: 1;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.info-card,
.service-card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.info-card:hover,
.service-card:hover {
    transform: translateY(-10px);
}

/* EXPERIENCE */
.experience {
    background: linear-gradient(to right, #27ae60, #2ecc71);
    color: white;
    text-align: center;
    padding: 90px 10%;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }
}


