 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto ,Arial;
}

.section {
    padding: 80px 10%;
}

.light-bg {
    background: #f5f5f5;
}

.center {
    text-align: center;
}

/* HERO */
.services-hero {
    height: 60vh;
    background: url("images/service.png")
        center/cover no-repeat;
    position: relative;
}

.services-hero .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

/* SERVICES GRID */
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

.service-card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-10px);
}

/* PROCESS */
.process {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.step {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.step span {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #2ecc71;
    color: white;
    border-radius: 50%;
    line-height: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .process {
        flex-direction: column;
    }
}